@font-face {
  font-family: 'TT Firs';
  src: url('../fonts/TTFirsNeue-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'TT Firs';
  src: url('../fonts/TTFirsNeue-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}
