@import './normalize.scss';
@import './fonts.scss';
@import './variables';
@import './locomotive-scroll.scss';
@import './swiper/swiper.scss';
@import './swiper/pagination.scss';

// Blocks
@import './blocks/header.scss';
@import './blocks/main-menu.scss';
@import './blocks/select-locales.scss';
@import './blocks/hero-section.scss';
@import './blocks/primary-title.scss';
@import './blocks/btn.scss';
@import './blocks/indicators.scss';
@import './blocks/secondary-title.scss';
@import './blocks/they-talk.scss';
@import './blocks/gallery.scss';
@import './blocks/menu-burger.scss';
@import './blocks/forefront.scss';
@import './blocks/block-title.scss';
@import './blocks/footer.scss';
@import './blocks/mobile-menu-popup.scss';
@import './blocks/mobile-menu.scss';
@import './blocks/external-link.scss';
@import './blocks/submenu-popup.scss';
@import './blocks/paragraph-text.scss';
@import './blocks/ecosystem.scss';
@import './blocks/features-block.scss';
@import './blocks/block-text.scss';
@import './blocks/buttons-grid.scss';
@import './blocks/button-link.scss';
@import './blocks/build-integrate.scss';
@import './blocks/card.scss';
@import './blocks/text-link.scss';
@import './blocks/dev-parameters.scss';
@import './blocks/parameters-caption.scss';
@import './blocks/ton-tools.scss';
@import './blocks/github-docs.scss';
@import './blocks/videos.scss';
@import './blocks/nav-button.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'TT Firs', 'Roboto', sans-serif;
  color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0D1033;
  width: 100%;
}

.container {
  min-width: 320px;
  overflow-x: hidden;
  padding: 24px 0 50px;
}

.wrap {
  width: 100%;
  max-width: 1548px;
  padding: 0 78px;
  margin: 0 auto;

  @media screen and (max-width: 1366px) {
    padding: 0 40px;
  }

  @media screen and (max-width: 420px) {
    padding: 0 12px;
  }
}


