.btn {
  display: flex;
  align-items: center;
  height: 58px;
  border-radius: 9px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: all .2s;
  padding: 0 20px;

  @media (max-width: 768px) {
    height: 50px;
    border-radius: 9px;
    font-size: 14px;
    padding: 0 12px;
  }

  &_primary {
    background-color: var(--color-hover);

    &:hover {
      background-color: #5C6BFD;
    }
  }

  &_secondary {
    border: rgba($color: #fff, $alpha: .1) 1px solid;

    &:hover {
      border: var(--color-hover) 1px solid;
    }
  }
}
