.card {
  border-radius: 18px;
  background-color: var(--color-cards);
  padding: 60px;

  @media (max-width: 1024px) {
    padding: 40px;
  }

  @media (max-width: 420px) {
    padding: 20px;
  }

  &__title {
    margin: 0 0 8px;
  }

  &__description {
    margin: 0 0 initial;
  }
}
