.community {
  margin-bottom: 64px;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 24px;
  }

  &__item {
    display: flex;
    align-items: flex-end;
    border-radius: 18px;
    position: relative;
    transition: all .2s;
    padding: 60px;

    @media (max-width: 1024px) {
      padding: 40px;
    }

    @media (max-width: 420px) {
      padding: 20px;
    }

    &:nth-of-type(2n + 1):not(.community__item_wide) {
      @media (max-width: 1100px) {
        grid-column: 1 / 3;
      }

      @media (max-width: 580px) {
        grid-column: 1 / 5;
      }
    }

    &:nth-of-type(2n):not(.community__item_wide) {
      @media (max-width: 1100px) {
        grid-column: 3 / 5;
      }

      @media (max-width: 580px) {
        grid-column: 1 / 5;
      }
    }

    &-title {
      margin: 0;
    }

    &-column {

      &-title {
        font-size: 16px;
        font-weight: 400;
        opacity: .9;
        margin: 0 0 36px;
      }

      ul {
        padding: 0;
        margin: 0;

        li {
          list-style: none;
          font-size: 18px;

          &:not(:last-of-type) {
            margin-bottom: 24px;
          }

          a {
            color: white;
            text-decoration: none;
            transition: all .2s;

            &:hover {
              opacity: .5;
            }
          }
        }
      }
    }

    .icon {
      position: absolute;
      right: 40px;
      top: 40px;
    }

    &_wide {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 40%;
      gap: 24px;
      grid-column: 1 / 5;
      align-items: flex-start;

      @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr 20%;
      }

      @media (max-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 580px) {
        grid-template-columns: 1fr;
        gap: 60px;
      }

      & > div:last-child {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        align-self: flex-end;

        @media (max-width: 768px) {
          order: -1;
          grid-column: 1 / 4;
          flex-direction: row-reverse;
          align-items: center;
          padding-bottom: 40px;

          img {
            position: static;
          }
        }

        @media (max-width: 580px) {
          grid-column: 1 / 2;
        }
      }
    }

    &_twitter {
      background-color: #2EADFC;

      &:hover {
        background-color: #0089DD;
      }
    }

    &_youtube {
      background-color: #D43929;

      &:hover {
        background-color: #C02919;
      }
    }

    &_facebook {
      background-color: #3975EA;

      &:hover {
        background-color: #205DD4;
      }
    }

    &_reddit {
      background-color: #E45127;

      &:hover {
        background-color: #D8481F;
      }
    }

    &_telegram {
      background-color: #5DADDD;
    }
  }

  &__block-link {
    text-decoration: none;
    color: white;
    transition: all .2s;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
    }
  }
}
