.dev-parameters {
  margin-bottom: 60px;

  &_community {
    margin-bottom: 24px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    transition: all .2s;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 520px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 298px;
  }
}
