.gallery {
  margin-bottom: 24px;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 392px);
    gap: 24px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 660px 330px 330px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: var(--panel-color);
    border-radius: 18px;
    transition: all .2s;
    cursor: pointer;
    padding: 60px;

    @media (max-width: 1024px) {
      padding: 40px;
    }

    @media (max-width: 420px) {
      padding: 20px;
    }

    &:hover {
      background: var(--panel-hover-color);
    }

    &-title {
      margin: 0 0 8px;
    }

    p {
      font-size: 18px;
      line-height: 1.5;
      color: white;
      margin: 0;

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  &__item_large {
    grid-row: 1 / 3;

    @media (max-width: 768px) {
      grid-row: auto;
    }
  }
}
