.github-docs {
  margin-bottom: 60px;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-icon {
      margin-bottom: 36px;
    }

    &-title {
      a {
        color: white;
        text-decoration: none;
        transition: all .2s;

        &:hover {
          color: var(--color-hover);
        }
      }
    }

    &-description {
      margin-bottom: 40px;
    }

    @media (max-width: 1120px) {
      .button-link {
        grid-column: 1 / 3;
      }
    }

    @media (max-width: 1024px) {
      .button-link__ext-name {
        display: none;
      }
    }
  }

  .button-link {
    color: var(--color-hover);

    &:hover {
      color: white;
    }
  }
}
