.hero-section {
  margin-bottom: 24px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    min-height: 820px;
    border-radius: 18px;
    background-color: var(--color-cards);
    padding: 60px;

    @media (max-width: 1024px) {
      padding: 40px;
    }

    @media (max-width: 420px) {
      padding: 20px;
    }
  }

  &__title {
    margin: 0 0 20px;
  }

  &__description {
    font-size: 18px;
    line-height: 1.5;
    max-width: 540px;
    margin: 0 0 20px;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &__cta {
    display: flex;

    a:not(:last-of-type) {
      margin-right: 24px;

      @media (max-width: 768px) {
        margin-right: 16px;
      }
    }
  }
}
