.main-menu {
  ul {
    display: flex;
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      font-size: 18px;

      &:not(:last-of-type) {
        margin-right: 56px;
      }

      a {
        color: white;
        text-decoration: none;
        transition: all .1s;

        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}
