.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgba($color: #fff, $alpha: .05);
  cursor: pointer;
  transition: all .2s;

  &:not(.swiper-button-disabled):hover {
    background-color: var(--color-hover);
  }

  &::after {
    content: '';
    display: block;
    width: 6px;
    height: 9px;
    background: url('../../images/nav-button-arrow.svg') no-repeat;
    background-size: contain;
  }

  &_prev {
    transform: rotate(.5turn);
  }

  &.swiper-button-disabled {
    opacity: .5;
    cursor: auto;
  }
}
