.primary-title {
  font-size: 62px;
  font-weight: 400;
  line-height: 1.13;
  transition: all 0.2s ease-in 0s;

  @media (max-width: 1024px) {
    font-size: 48px;
  }

  @media (max-width: 768px) {
    font-size: 32px;
  }
}
