.select-locales {
  position: relative;
  opacity: .7;

  &__button {
    display: flex;
    align-items: center;
    height: 40px;
    width: 106px;
    position: relative;
    border-radius: 6px;
    background-color: #222757;
    font-size: 16px;
    color: white;
    border: none;
    // cursor: pointer;
    padding: 0 12px;

    &::before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background: url('../../images/locale-icon.svg') no-repeat;
      background-size: contain;
      margin-right: 7px;
    }

    &::after {
      content: '';
      display: block;
      width: 3px;
      height: 3px;
      border-radius: 1px;
      background-color: var(--color-hover);
      position: absolute;
      right: 12px;
      top: 12px;
    }
  }

  &.active &__button::after {
    background-color: var(--color-accent);
  }

  &__list {
    display: block;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transform: translateY(10px);
    transition: all .1s;
    position: absolute;
    top: 41px;
    left: 0;
    width: 106px;
    border-radius: 6px;
    background-color: #222757;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }

  &.active &__list {
    display: block;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    z-index: 9999;
  }

  &__item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 37px;
    cursor: pointer;
    transition: all .2s;
    padding-left: 20px;

    &:hover {
      background-color: var(--color-hover);
    }
  }
}
