.sub-governances {

  .cards-gallery__card {
    min-height: 470px;
  }

  .cards-gallery__card-icon {
    margin-bottom: 40px;
  }

  .cards-gallery__card-description {
    margin-bottom: 12px;
  }
}
