.tag {
  cursor: pointer;
  margin: 0 16px 16px 0;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    z-index: -1;
    appearance: none;
    outline: none;
    clip-path: circle(0 at 0 0);

    &:checked + span {
      border-color: var(--color-accent);
      background-color: var(--color-accent);
    }
  }

  &__body {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid #222965;
    border-radius: 9px;
    font-size: 16px;
    color: white;
    user-select: none;
    white-space: nowrap;
    transition: all .1s;
    padding: 0 12px;
  }

  &__counter {
    opacity: .5;
    margin-left: 6px;
  }
}
