.they-talk {
  position: relative;
  margin-bottom: 24px;

  &::before {
    content: '';
    display: block;
    width: 78px;
    height: 160px;
    background: linear-gradient(to right, #0D1033 0%, #0D1033 21.88%, rgba(15, 24, 55, 0) 100%);
    position: absolute;
    left: 360px;
    top: 0;
    z-index: 8888;

    @media (max-width: 1366px) {
      left: 302px;
    }

    @media (max-width: 1024px) {
      left: 262px;
    }
  }

  &::after {
    content: '';
    display: block;
    width: 78px;
    height: 160px;
    background: linear-gradient(to left, #0D1033 0%, #0D1033 21.88%, rgba(15, 24, 55, 0) 100%);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 8888;
  }

  &::before,
  &::after {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__container {
    display: flex;
    align-items: flex-end;
    padding-left: 22px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    margin: 0 30px 10px 0;

    @media (max-width: 768px) {
      width: fit-content;
      margin: 0 0 24px;
    }
  }

  &__slider {
    display: flex;
    justify-content: stretch;
    width: 100%;
    position: relative;
    right: -78px;
    // overflow-x: scroll;
    overflow: hidden;
    padding-left: 60px;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 1366px) {
      right: -40px;
    }

    @media (max-width: 768px) {
      right: auto;
      overflow: visible;
      padding-left: 0;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: none;
    height: 160px;
    width: 330px;
    border-radius: 9px;
    border: rgba($color: #fff, $alpha: 0.1) 1px solid;
    transition: all .2s;
    cursor: pointer;
    padding: 20px;
    margin-right: 24px;

    &:hover {
      background-color: var(--color-hover);
      border: var(--color-hover) 1px solid;
    }

    &-caption {
      font-size: 16px;
      color: white;
      opacity: .3;
    }

    &-description {
      font-size: 18px;
      line-height: 1.5;
      color: white;
      transition: all 0.2s ease-in 0s;
      margin: 0;
    }
  }

  &__navigation-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -60px;
    width: 100%;
    z-index: 9999;

    .nav-button {
      position: relative;
      top: -110px;
      left: -60px;
      background-color: rgba($color: #13173E, $alpha: .9);

      &_next {
        left: -100px
      }

      &.swiper-button-disabled {
        opacity: 0;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}
