.ton-tools {
  margin-bottom: 60px;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    position: relative;
    padding-bottom: 42px;
    // overflow-x: hidden;

    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 820px;
    position: relative;
    overflow: hidden;
    transition: all .2s;

    &:hover {
      background-color: #1B2159;
    }

    &_cli {
      img {
        width: 100%;
        border-radius: 36px;
        object-fit: cover;
      }
    }

    &_scan {
      justify-content: flex-end;
    }

    &-content {
      position: relative;
      z-index: 7777;
    }

    &-description {
      margin-bottom: 40px;
    }

    &-link {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 8888;
    }

    &-title-block {
      transform: translateY(76px);
      transition: all .3s;
    }

    &:hover &-title-block {
      transform: translateY(0);
    }

    &-button {
      opacity: 0;
      transition: all .2s;
    }

    &:hover &-button {
      opacity: 1;
    }

    &-bg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .25s;
    }

    &:hover &-bg {
      filter: brightness(130%);
    }

    .btn {
      width: fit-content;
    }
  }
}
