.videos {
  margin-bottom: 60px;

  &__title-block {
    display: flex;
    align-items: baseline;
    height: fit-content;
    margin-bottom: 16px;
  }

  &__title {
    margin: 0 24px 0 0;
  }

  &__navigation {
    display: flex;
    align-items: center;

    &-pages {
      display: flex;
      font-size: 30px;
      color: white;
      min-width: 156px;
      margin: 0 24px 0 0;

      @media (max-width: 768px) {
        font-size: 20px;
      }

      &-title {
        color: var(--color-accent);
        margin-right: 8px;
      }

      .swiper-pagination {
        position: static;
      }

      .swiper-pagination-current {
        color: var(--color-accent);
      }
    }

    &-buttons {
      display: flex;
      align-items: center;

      @media (max-width: 768px) {
        display: none;
      }

      button:not(:last-of-type) {
        margin-right: 8px;
      }
    }
  }

  &__container {
    display: flex;
  }

  &__item {
    position: relative;

    &:not(:last-of-type) {
      margin-right: 32px;
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      height: 296px;
      background-color: var(--color-cards);
      margin-bottom: 24px;

      img {
        cursor: pointer;
        transition: all 1s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &-name {
      display: block;
      font-weight: 400;
      transition: all .2s;
      margin: 0 0 8px;

      &:hover {
        color: var(--color-hover);
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        cursor: pointer;
      }
    }

    &-date {
      font-size: 14px;
      color: var(--color-accent);
    }
  }
}
